<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/favicon.ico">

    <title>Self</title>

    <!-- Bootstrap core CSS -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>


    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet" />

    <!--<link href="jumbotron.css" rel="stylesheet">-->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="MainCtrl as ctrl" >
    <div id="debug">{{ctrl.scroll}}</div>
    <nav ng-class="{'scrolled': ctrl.scroll > 100}">
        <div class="col">
            <img src="assets/logo8.svg" />
            <h1>SELF</h1>
            <ul>
                <li><a href="#" ng-click="ctrl.doScroll(10)">Home</a></li>
                <li><a href="#" ng-click="ctrl.doScroll(1000)">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div va-scroll="ctrl.scroll" va-set-scroll="ctrl.setScroll" class="scroll">
        <div class="page p1">
            <div class="col">
                <div id="intro">
                    <h2>Web Design for Everybody <strong>Capstone</strong></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="page p2">
            <div class="col">
                <h3>About</h3>
                <p>2</p>
            </div>
        </div>
        <div class="page p3">
            <div class="col">
                <h3>Gallery</h3>
                <p>3</p>
            </div>
        </div>

        <footer></footer>
    </div>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Scripts/jquery-2.2.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/vaScroll/script.js"></script>
    <script src="app/app.js"></script>
    <script>angular.bootstrap("html", ['app']);</script>
</body>
</html>

