html, body {
    height: 100%;
}

nav {
    background-color: rgba(15, 39, 66, 0.50);
    height: 99px;
    width: 100%;
    position: fixed;
}

    nav ul {
        float: right;
        list-style: none;
        font-size: 1.4em;
        /*font-weight: bold;*/
    }

    nav img {
        /*margin: 20px;*/
        height:90px;
        margin:5px;
    }

        nav ul li {
            float:left;
            
            line-height: 99px;
        }
            nav ul li a {
                color: #e6f2fe;
                display:block;
                padding: 0 30px;
            }

            nav ul li a:hover {
                color: #fff;
            }

footer {
    background-color: rgba(0, 0, 0, 0.30);
    height: 100px;
    margin-top: -100px;
}

.page {
    min-height: 100%;
    /*background-color: aliceblue;*/
    border-bottom: solid 1px #eee;
    /*background-image: url('assets/bg5.jpg');*/
}


.col {
    /*background-color: #ddeefc;*/
    width: 1000px;
    margin: auto;
    min-height: 100%;
}

.p1 {
    background-image: url('assets/bg7_2.jpg');
    background-size: cover;
}

.p2 {
    background-image: url('assets/bg3.jpg');
    background-size: cover;
}

.scroll {
    height: 100%;
    overflow-y:scroll;
}
