html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



#scroll {
    height: 50%;
    margin: auto;
    border: solid 1px red;
    overflow-y:scroll;

}

#canvas {
    height: 3000px;
}

#content {
    background-color:aquamarine;
}

#debug {
    position:fixed;
    top: 10px;
    right:10px;
    background-color: #ff6a00;
    height: 20px;
    width: 150px;
}