$second-row-height: 50px;
$step1-width: 768px;
$step2-width: 992px;

/*$semi-transparent: rgba(15, 39, 66, 0.4);*/
$semi-transparent: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

article {
    min-height: 100%;
    background-size: cover;
}

header {
    height: 70px;

    img {
        height: 120px;
        display: block;
        float: left;
		margin-top: -60px;
    }

    h1 {
        line-height: 70px;
        margin: 0 0 0 55px;
        float: left;
        color: #000;
        font-family:bankgothic-lt-bt-light;
        width: 500px;
    }
}
@font-face {
    font-family: 'bankgothic-lt-bt-light';
    src: url('fonts/bankgothic-lt-bt-light.ttf') format('truetype');
}

nav {
    /*background-color: linear-gradient(to right, #aaa, #000);*/
	background: $semi-transparent;
    height: 220px;

    a {
        display: block;
        line-height: $second-row-height;
        color: #fff;
        text-decoration: none;
    }

    ul {
        margin: 0 0 0 70px;
        padding: 0;
        list-style: none;
        width: 100%;
    }
}

.col {
    /*width: 80%;*/
    margin: auto;
}

#debug {
    position: fixed;
    top: 0;
    right: 0;
    background-color: antiquewhite;
}

#top {
    /*min-height: 50%;*/
    /*background-color: azure;*/
    /*width: 80%;*/
	margin-top: 90px;
}

#scroll {
    //height: 100%;
}

#home {
    /*background-color: #ccc;*/
    height: 100%;
    /*background-image: url('img/bg8.jpg');*/
    color: #555;
    display: flex;
    flex-direction: column;
}

#about {
    background-color: #cfc;
}

#gallery {
    background-color: #fcc;
}

#intro {
    /*background-color: aqua;*/
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    strong {
        color: #3a9c2f;
    }

    h2 {
        text-align: center;
    }
}



@media all and (min-width: $step1-width) {
    header {
        width: $step1-width;
        margin: auto;
    }

    #intro {
        h2 {
            font-size: 2em;
        }
    }

    nav {
        height: $second-row-height;

        ul {
            width: $step1-width;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /*align-items:stretch;*/
        }

        a {
            line-height: $second-row-height;
            margin: 0 20px;
        }

        li {
            float: left;
        }
    }
}

@media all and (min-width: $step2-width) {
    header {
        width: 300px;
        margin: 0;
        float: left;
    }

    #intro {
        h2 {
            font-size: 3em;
        }
    }

    nav {
        background: transparent;

        ul {
            /*float:right;*/
            width: auto;
        }

        a {
            line-height: 70px;
        }
    }

    .col {
        width: $step2-width;
    }

    #top {
        background: $semi-transparent;
        height: 70px;
    }
}
